<!DOCTYPE html>
<html>
<head>
    <title>AngularGUISampleCode</title>
    <LINK rel="shortcut icon" href="icon.png">
    <meta charset="utf-8" />
    <script src="/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-sanitize.js"></script>
    <script src="/Scripts/angular-ui-router.min.js"></script>
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/lib/angular-lazy-img-master/release/angular-lazy-img.js"></script>
    <link href="/Content/bootstrap.min.css" rel="stylesheet">

    <!-- bootstrap toggle -->
    <script src="/lib/angular-bootstrap-toggle-master/dist/angular-bootstrap-toggle.min.js"></script>
    <link href="/lib/angular-bootstrap-toggle-master/dist/angular-bootstrap-toggle.min.css" rel="stylesheet">
    
    <script src="/helloworld.js"></script>
    <link href="/switch.css" rel="stylesheet">
</head>
<body ng-app="myApp">
    <div id="scrollable" ng-controller="myController">
        <toggle ng-model="toggleValue" ng-change="changed()"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" on="Enabled" off="Disabled"></toggle>
        <toggle ng-model="toggleValue" ng-change="changed()" onstyle="btn-custom" ></toggle>
    </div>

    
</body>
</html>
