.btn-custom{
    background-color:red;
}
.toggle.btn {
  min-width: 100px !important;
  min-height: 34px !important;
}
.toggle-group {
  transition: left 0s !important;
  -webkit-transition: left 0s !important;
}
